<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2015_1222 자바연산자2/src/비트이동연산자.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="비트이동연산자"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2015_1222 자바연산자2"/>
</launchConfiguration>
